html, body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  color: rgba(0,0,0,.84);
  font-size: 18px;
  font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
}

.hidden {
  display: none;
}

#search-component {
  position: absolute;
  left: 0;
  right: 0;
  margin: 1rem auto;
  z-index: 1000;
  width: 0;
  display: flex;
  justify-content: center;
  box-sizing: border-box;

  #search-form {
    position: relative;

    #search-field {
      display: flex;
      align-items: center;
      #search-icon {
        position: absolute;
        margin-left: .8rem;
        color: rgba(0,0,0,.58);
      }
    }

    #search-bar {
      color: rgba(0,0,0,.84);
      font-weight: 300;
      outline: 0;
      border: 0;
      border-radius: 4px;
      padding: .4rem .8rem .4rem 2.4rem;
      box-shadow: 0 3px 14px rgba(0,0,0,0.4);

      &::placeholder {
        color: rgba(0,0,0,.38);

      }

      &::-ms-placeholder {
        color: rgba(0,0,0,.38);
      }

      &::-webkit-placeholder {
        color: rgba(0,0,0,.38);
      }
    }
  }
}

#cities-component {
  position: absolute;
  top: 2rem;
  z-index: 1100;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 3px 14px rgba(0, 0, 0, 0.4);

  #status {
    font-size: .9rem;
    padding: .4rem .8rem;
    color: rgba(0,0,0,.58);
  }
  .cities-list {
    margin: 0;
    list-style: none;
    padding: 0;

    .city-item {
      outline: 0;
      text-decoration: none;
      color: inherit;
      display: block;
      padding: .4rem .8rem;
      transition-duration: .2s;

      &:hover {
        background-color: #4686ff;
        color: #fff;
      }
    }

    .highlighted {
      background-color: #4685d0;
      color: #fff;
    }
  }
}

#mapid { height: 100vh; }

.popup {
  width:200px;
  color: rgba(0,0,0,.84);
  .popup-header {
    font-size: 1rem;
    display: block;
    margin: 0;
  }

  .popup-weather-main {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;

    .popup-weather-img {
      margin-right: 8px;
    }

    .popup-temp {
      font-weight: 400;
      .value {
        font-size: 2rem;
        margin: 0;
      }

      .unit {
        font-size: 1rem;
      }
    }
    
    .popup-weather-desc {
      font-size: .8rem;
    }
  }
}
